black[jupyter]
click
coverage
flake8
flake8-docstrings
flake8-annotations
flake8-builtins
flake8-bugbear
genbadge
interrogate[png]
isort
mypy
pydocstyle
pytest
pytest-cov
pytest-socket
pytest-flake8
types-tabulate